<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" (click)="navbarCollapsed = !navbarCollapsed"
      [attr.aria-expanded]="!navbarCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': !navbarCollapsed }" id="navbarCollapse">
      <ul class="navbar-nav mr-auto" (mouseleave)="navbarCollapsed = true">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" (click)="navbarCollapsed = true">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/estanteAdd']" routerLinkActive="active" (click)="navbarCollapsed = true">Agregar Estante</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/estanteList']" routerLinkActive="active" (click)="navbarCollapsed = true">Listar Estantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/libroAdd']" routerLinkActive="active" (click)="navbarCollapsed = true">Agregar Libro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/libroList']" routerLinkActive="active" (click)="navbarCollapsed = true">Listar Libros</a>
        </li>
      </ul>
    </div>
  </nav>

  <footer>
    <p class="text-xs-center">UADE</p>
  </footer>

  <router-outlet></router-outlet>
</body>